RPCHOST=localhost
RPCPORT=8332
RPCUSERNAME=bitcoin
RPCPASSWORD=your_rpc_password_here
RPCNETWORK=mainnet
ZMQADDRESS=tcp://localhost:28332

PGHOST=localhost
PGPORT=5432
PGDATABASE=bitcoin_supply
PGUSER=bitcoin_supply
PGPASSWORD=your_db_password_here

REDISHOST=127.0.0.1
REDISPORT=6379

PORT=3000
ETL_CONCURRENCY=8
ETL_BATCH_SIZE=1000
