extends layout

block content
  main(role='main')
    .jumbotron
      .container
        .card
          if block.allowed_supply != block.new_supply
            .card-header.alert.alert-danger
              include includes/block-header.pug
          else
            .card-header.alert.alert-success
              include includes/block-header.pug
          include includes/block-body.pug
    .container
      ul.list-group.list-group-flush
        each tx in transactions
          li.list-group-item 
            a(href='/transaction/'+tx.tx_hash)= tx.tx_hash
            |  Loss: #{helpers.format(tx.loss/100000000, 8)} BTC
