extends layout

block content
  main(role='main')
    .jumbotron
      .container
        .card
          if block.allowed_supply != block.new_supply
            .card-header.alert.alert-danger
              include includes/block-header.pug
          else
            .card-header.alert.alert-success
              include includes/block-header.pug
          include includes/block-body.pug
