doctype html
html.h-100(lang='en')

  head
    title= title ? title : 'Bitcoin Supply'
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='Accounting for the supply of bitcoin.')
    meta(name='author', content='Anders Brownworth')
    meta(name='generator', content='emacs')
    link(rel='apple-touch-icon', href='/images/favicons/apple-touch-icon.png', sizes='180x180')
    link(rel='icon', href='/images/favicons/favicon-32x32.png', sizes='32x32', type='image/png')
    link(rel='icon', href='/images/favicons/favicon-16x16.png', sizes='16x16', type='image/png')
    link(rel='manifest', href='/images/favicons/manifest.json')
    link(rel='mask-icon', href='/images/favicons/safari-pinned-tab.svg', color='#563d7c')
    link(rel='icon', href='/images/favicons/favicon.ico')
    meta(name='msapplication-config', content='/images/favicons/browserconfig.xml')
    meta(name='theme-color', content='#563d7c')
    link(rel='stylesheet', href='/stylesheets/lib/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/site.css')
    script(src='/javascripts/lib/jquery-3.5.1.slim.min.js', integrity='sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj')
    script(src='/javascripts/lib/bootstrap.min.js')
    meta(name='twitter:card', content='summary')
    meta(name='twitter:site', content='@supplybitcoin')
    meta(name='twitter:creator', content='@supplybitcoin')
    meta(property='og:url', content='https://bitcoin-supply.com/')
    meta(property='og:title', content='Bitcoin Supply')
    meta(property='og:description', content= title ? title : 'Bitcoin Supply')
    meta(property='og:image', content='https://bitcoin-supply.com/img/image.png')

  body.d-flex.flex-column.h-100
    header
      nav.navbar.navbar-expand-md.navbar-dark.fixed-top.bg-dark
        a.navbar-brand(href='/') Bitcoin Supply
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarsExampleDefault', aria-controls='navbarsExampleDefault', aria-expanded='false', aria-label='Toggle navigation')
          span.navbar-toggler-icon

        .collapse.navbar-collapse#navbarsExampleDefault
          ul.navbar-nav.mr-auto
            //li.nav-item.active
            //  a.nav-link(href='#') Home
            //    span.sr-only (current)
          form.form-inline.my-2.my-lg-0(action='/search', method='POST')
            input#search.form-control.mr-sm-2(name='query', type='text', placeholder='Block # / TXID', aria-label='Block number')
            button.btn.btn-outline-success.my-2.my-sm-0(type='submit') Find

    main.flex-shrink-0(role='main')
      block content

    footer.footer.mt-auto.py-3
      .container
        nav.navbar.fixed-bottom.navbar-dark.bg-dark
          .navbar-text &copy; #{new Date().getFullYear()} 
            a.navbar-text(href='/', tabindex=-1) Bitcoin-Supply.com

  script(async, src='https://www.googletagmanager.com/gtag/js?id=G-QR2SXVYGER')
  script.
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-QR2SXVYGER');
    $(() => {
      $('#search').focus();
    });
