extends layout

block content
  .startup-container
    .spinner
    h2.text-orange.mt-4 Syncing Blockchain Data
    p.startup-message Hold tight, the server is initializing...
    p.text-muted.mt-2 Loading the latest Bitcoin supply data. This page will automatically refresh in a few seconds.

block javascript
  script.
    setTimeout(() => {
      window.location.reload();
    }, 5000);
