extends layout

block content
  main(role='main')
    .jumbotron
      .container
        .card
          .card-header.alert.alert-info
            h2 Block #{helpers.format(block.block_number)}
            p Estimated #{new Date(block.block_timestamp).toLocaleDateString('en-us', {year: 'numeric', month: 'long', day: 'numeric', hour: 'numeric', minute: 'numeric', timeZone: 'utc'})} UTC
            if moment().isBefore(block.block_timestamp)
              |  (#{moment(block.block_timestamp).from()})
            p This block hasn't been mined yet.
          include includes/block-body.pug

    .container
      p This block hasn't been mined yet.
