body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    min-height: 75rem;
    padding-top: 20px;
}

.container {
    padding-top: 60px;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 54px;
}
